*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}


/* MAIN */
main{
  height: calc(100% - 90px);
  background-color: red;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.bigger-font{
  font-size: 50px;
}


/* MENU */
#menu{
  height: 100%;
  width: 250px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGO */
.logo{
  min-height: 90px;
  background-color: rgb(172, 79, 200);
  display: flex;
  align-items: center;
}

.logo img{
  max-width: 55%;
  margin-left: 15px;
}
/* /LOGO */

/* H S L */
.h-s-l{
  background-color: rgb(100, 195, 71);
}

.h-s-l img{
  max-width: 12%;
  margin: 4px 0 4px 15px;
  vertical-align: middle;
}

.h-s-l h2{
  vertical-align: middle;
  display: inline-block;
}
/* /H S L */

/* PLAYLIST */
.playlist{
  min-height: 300px;
  background-color: grey;
  flex-grow: 1;
  overflow-y: auto;
}

/* /PLAYLIST */


/* PROFILE */
.profile{
  height: 100px;
  background-color: rgb(117, 131, 224);
}

/* /PROFILE */






/* /MENU */


/* /MAIN */

/* MAIN CONTENT */
#main-content{
  /* background-color: #141922; */
  background-color: lightblue;
  width: calc(100% - 250px);
  padding-top: 90px;
  overflow-y: auto;
}

/* UPGRADE */
.upgrade{
  height: 90px;
  width: calc(100% - 250px);
  background-color: rgba(8, 11, 18, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

a.btn{
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  line-height: 90px;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: bold;
}


/* /UPGRADE */









/* /MAIN CONTENT */


/* FOOTER */
footer{
  width: 100%;
  height: 90px;
  background-color: green;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* /FOOTER */
